app.studentMainJsonFile=src/main/java/student/Files/student.json
app.studentFatherNameJsonFile=src/main/java/student/Files/studentFatherName.json
app.studentEmailJsonFile=src/main/java/student/Files/studentEmail.json
app.studentNameJsonFile=src/main/java/student/Files/studentName.json
app.studentSurnameJsonFile=src/main/java/student/Files/studentSurname.json